body {
  color: #000;
  font-style: normal;
  text-align: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.tabs {
  padding-top: 100px;
  padding-bottom: 60px;
}

.tabs__buttons {
  text-align: left;
}
.tabs__btn {
  color: #333;
  width: 200px;
  padding: 10px 16px;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: #fff;
}

.tabs__btn--active {
  border: 1px solid #c6cbcd;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  box-shadow: 0 0 0 2px #fff;
}

.tabs__info {
  border: 1px solid #c6cbcd;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.tabs__info__text {
  /* display: inline-block; */
  /* width: 570px; */
  padding: 50px 30px 54px 100px;
}

.tabs__info__title {
  margin-bottom: 80px;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.tabs__info__descr {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 30px;
}

.tabs__info__img {
  width: 470px;
  /* display: inline-block; */
}

.tabs__info__btn {
  background-color: #ec7979;
  padding: 25px 90px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.about {
  padding-top: 60px;
  padding-bottom: 58px;
}

.about__title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 60px;
}

.about__title__line {
  width: 170px;
  height: 2px;
  background-color: #ec7979;
  border: none;
  margin-bottom: 40px;
}

.about__text {
  color: #86878b;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 71px;
}

/* .about__list {
  display: flex;
  justify-content: space-between;
} */

.about__list__item {
  width: 370px;
  display: inline-block;
}
/* .about__list__item:not(:last-child) {
  margin-right: 30px;
} */

.about__list__icon {
  border: 1px solid;
}
.about__list__svg {
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.icon1 {
  background-image: url(../images/about_icon_1.svg);
}

.icon2 {
  background-image: url(../images/about_icon_2.svg);
}

.icon3 {
  background-image: url(../images/about_icon_3.svg);
}

.about__list__title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.about__list__text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
}
